body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #888888;
    text-shadow: 1px 1px 1px #FFFFFF;
    background: url("../img/groovepaper.png") repeat;
    padding-bottom: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-container {
    text-align: center;
}

.module {
    background: rgba(255,255,255,0.35);
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 2px 12px #DDDDDD;
    border-radius: 6px;
    padding: 0.5%;
}

.pomodoro {
    width: 48%;
    float: left;
}

.subtasks {
    float: right;
    width: 48%;
    overflow-y: auto;
    height: 200px;
}

.button {
    background: #EEE;
    padding: 5px 10px 5px 10px;
    color: #666;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 6px;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

a, a:hover, a:visited {
    text-decoration: none;
}

.clear-left {
    clear: left;
}

.separator {
    height: 10px;
}
