.menu-toggler {
    background: #EEE;
    cursor: pointer;
    height: 20px;
    text-align: center;
}

.menu-toggler:hover {
    background: #CCC !important;
}

.menu {
    display: none;
}

.menu ul li {
    cursor: pointer;
    float: left;
    width: 140px;
}

.menu ul li ul {
    padding: 0px;
    display: none;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li {
    clear: left;
    margin-top: 5px;
}


#showMenuArrow {
    margin-top: 5px;
}
