.menu-toggler {
    background: #EEE;
    cursor: pointer;
    height: 20px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 2px 12px #DDDDDD;
    border-radius: 6px;
}

.menu-toggler:hover {
    background: #DDD !important;
}

.menu {
    display: none;
    width: 100%;
    background-color: whitesmoke;
}

.menu ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.menu-entry {
    color: #777;
    font-weight: bold;
    padding: 13px 0px;
    display: block;
}

.menu ul li {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 180;
    position: relative;
}

.menu ul li ul {
    padding: 0px;
    display: none;
    position: absolute;
    background: whitesmoke;
    box-shadow: 0 4px 4px #DDDDDD;
    z-index: 900;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li {
    clear: left;
}

.menu ul li ul li a:hover {
    background-color: white;
}

.menu ul li ul li a,
.menu ul li ul li a:visited {
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: #888;
    padding: 8px 0px;
}

#showMenuArrow {
    margin-top: 5px;
}
