.subtasks h1 {
    padding: 5px 0 0 10px;
    font-size: 18px;
    margin: 0px;
}

.input-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    background:#EEE;
    border: 1px double #BBB;
    padding: 2px 10px 2px 10px;
    width: 80%;
    margin: 0px 1% 0px 1%;
}

.tasks ul {
    padding: 5px 0px 0px 15px;
    margin: 0px;
}
.tasks ul li {
    font-size: 16px;
    padding: 3px 0px;
}

.task-action {
    padding-left: 7px;
    cursor: pointer;
    background: transparent;
    border: 0;
    opacity: .2;
    filter: alpha(opacity=20);
    -webkit-appearance: none;
}

.task-action:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=60);
}

.task-state {
    padding-left: 7px;
    cursor: pointer;
    background: transparent;
    border: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-appearance: none;
}

.task-state:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .6;
    filter: alpha(opacity=40);
}
